<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Distance Calculator</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {
        packages: ["map"],
        mapsApiKey: "AIzaSyAb7t7UCJpnc5GflWkcNmx9r0BA5nqOQ0U"
      });
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Lat', 'Long', 'Name'],
          [36.1742, 8.7049, 'Kef'],
          [36.177193, 8.707446, 'MyLocation'],
          [36.842446, 10.163240, 'Malibu'],
        ]);

        var map = new google.visualization.Map(document.getElementById('map_div'));
        map.draw(data, {
          showTooltip: true,
          showInfoWindow: true
        });
      }
    </script>
  </head>

  <body>
    <h1>Distance Calculator</h1>
    <div id="map_div" style="width: 800px; height: 700px"></div>
    <p>Distance from MyLocation to Malibu: <span th:text="${distanceToMalibu} + ' km'"></span></p>
    <p>Distance from MyLocation to Kef: <span th:text="${distanceToKef} + ' km'"></span></p>
    <h1>3abdenour ya3tih 3asba</h1>
  </body>
</html>